**/.deps
**/.dirstamp
**/.~lock*
**/db
**/dbs
**/dbs/*
**/demo/*
**/doc
**/fastq_files
**/fastqfiles
**/genomes/*.fasta
**/indices/*
depth.tsv
*.txt.*
*.a
*.autosave
*.bak
*.bwt
*.child
*.core
*.fastq
*.fastq.gz
*.fna
*.fq
*.fq.gz
*.id
*.isa
*.lcp
*.moc
*.o
*.obj
*.orig
*.pch
*.rej
*.Rhistory
*.sa
*.so
*.so.*
*.sublime-workspace
*.sublime-project

*_pch.h.cpp
*_resource.rc
*conflicted*
*~
**/stamp-h1
aclocal.m4
autom4te.cache
build/*
build-aux/*
cmake_install.cmake
CMakeCache.txt
CMakeFiles/*
config.log
config.status
configure
Makefile
Makefile.in
release
sting-*.tar.gz
tmp

.vscode/
agpl3_header.txt
sting.code-workspace
src/config.h.in

*gene-detector
*gene_detector
detector.html
indexer.html
typer.html
classifier.html
sting.doxyfile