**/.deps
**/.dirstamp
**/.~lock*
**/db
**/dbs
**/dbs/*
**/demo/*
**/doc
**/fastq_files
**/fastqfiles
**/genomes/*.fasta
**/indices/*
**/stamp-h1
*.Rhistory
*.a
*.autosave
*.bak
*.bwt
*.child
*.core
*.fastq
*.fastq.gz
*.fna
*.fq
*.fq.gz
*.id
*.isa
*.lcp
*.moc
*.o
*.obj
*.orig
*.pch
*.rej
*.sa
*.so
*.so.*
*.sublime-project
*.sublime-workspace
*.txt.*
*_pch.h.cpp
*_resource.rc
*conflicted*
*detector
*gene-detector
*gene_detector
*indexer
*typer
*~
.vscode/
COPYING
CMakeCache.txt
CMakeFiles/*
Makefile
Makefile.in
aclocal.m4
agpl3_header.txt
autom4te.cache
build-aux/*
build/*
classifier.html
cmake_install.cmake
config.log
config.status
configure
depth.tsv
detector.html
indexer.html
release
src/config.h.in
sting-*.tar.gz
sting.code-workspace
sting.doxyfile
test
tmp
typer.html
